.character {

  &__info {
    display: flex;
    gap: 0 50px;

    &-image {
      width: 293px;
      height: 293px;
    }

    &-block {
      padding: 0 205px 0 0;
    }

    &-heading {
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      color: #000000;
      margin: 0 0 28px 0;
      text-transform: uppercase;
    }

    &-description {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
    }
  }

}
