.character-list {
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 25px;
    margin: 0 0 45px 0;
  }

  &__btn-more {
    margin: 0 auto 35px auto;
  }

  &__limit-list {
    display: flex;
    gap: 0 7px;
    justify-content: center;
  }

  &__limit-list span {
    color: #232222;
    font-size: 26px;
  }

  &__limit-link, {
    color: #232222;
    text-decoration: none;
    font-size: 26px;

    &_active {
      color: #9f0013;
      font-weight: 700;
      text-decoration: none;
      font-size: 26px;
    }
  }
}
