.random-character {
  margin: 0 0 50px 0;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 1080px) {
      display: block;
    }
  }

  &__info {
    padding: 35px 40px;
    display: flex;
    gap: 0 30px;
    min-height: 250px;
  }

  &__try-it {
  }
}

.try-random-character {
  padding: 35px 40px;
  position: relative;
  background: #232222 url("./images/decoration.png") no-repeat right -10% bottom 10%;
  min-height: 250px;

  &__description {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;

    &:first-child {
      margin: 0 0 33px 0;
    }
  }

  &__button {
    position: absolute;
    bottom: 45px;
    cursor: pointer;
  }
}
